.status-box{   
    position: fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: center;
    padding: 5px 3px; 
    background-color:white;  
}

.status-box__column{
    width: 33%;
}

.status-box__column:first-child span{
    margin-right: 5px;
}

.status-box__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-box__column:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-box__column .fa-battery-three-quarters{
    margin: 0px 5px;
}